*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button,
input {
  /* background-color: ; */
  border: none;
}

body {
  font-family: "League Spartan", sans-serif;
  background-color: hsl(222, 26%, 31%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-weight: 700;
  height: 100svh;
}

main {
  width: 100%;
  max-width: 500px;
  padding-inline: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header h1 {
  color: #fff;
}

.result-display {
  background-color: hsl(224, 36%, 15%);
  height: 100px;
  border-radius: 10px;
  padding: 15px;
  color: white;
  text-align: end;
  font-size: 40px;
  font-weight: 700;
}

.calc-keys {
  background-color: hsl(223, 31%, 20%);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.first-keys {
  display: grid;
  gap: 20px;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.other-keys {
  width: 100%;
  display: flex;
  gap: 20px;
}

.key,
.substraction-key,
.decimal-key,
.division-key,
.multiplication-key,
.addition-key,
.delete-key,
.reset-key,
.equal-key,
.opt-key {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 700;
  width: 100%;
  cursor: pointer;
}

.reset-key,
.delete-key {
  background-color: hsl(225, 21%, 49%);
}

.equal-key {
  background-color: hsl(6, 63%, 50%);
}
