*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "League Spartan", sans-serif;
  background-color: hsl(222, 26%, 31%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

main {
  width: 100%;
  max-width: 30%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header h1 {
  color: #fff;
}

.result-display {
  background-color: hsl(224, 36%, 15%);
  height: 100px;
  border-radius: 10px;
  padding: 15px;
  color: white;
  text-align: end;
  font-size: 40px;
  font-weight: 700;
}

.calc-keys {
  background-color: hsl(223, 31%, 20%);
  padding: 20px;
  border-radius: 10px;
}
